<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon.svg' | relative_url }}">
  <link rel="icon" type="image/png" sizes="256x256" href="{{ '/assets/images/icon-256.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="128x128" href="{{ '/assets/images/icon-128.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="64x64" href="{{ '/assets/images/icon-64.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/icon-180.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
</head>
<body>
  <div class="wrapper">
    <section>
      {{ content }}
    </section>
  </div>
</body>
</html>
